.center {
  width: 90vw;
  height: 90vh;
  font-size: 1.6em;
  margin: auto;
  padding: 20px 15px;
  font-weight: 300;
  position: relative;
  color: white;
  text-align: left;
  font-family: "Dancing Script", cursive;
}

.muteBtn {
  position: absolute;
  top: 5%;
  right: 10px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  outline: none;
}

.loader {
  position: absolute;
  top: 40%;
  width: 90%;
  margin: auto;
  text-align: center;
}

.mb0 {
  margin-bottom: 0;
}

.pr5 {
  padding-right: 5px;
}

.pl5 {
  padding-left: 5px;
}

.wd100 {
  width: 100%;
}

.error {
  font-family: consolas monospace;
  color: red;
}
