<div class="center">
  <div *ngIf="!showMessage" class="loader">Loading your Greeting ...</div>
  <div [hidden]="!showMessage">
    <p style="font-size: 1.2em; padding-top:0.4em;">
      Hey {{ isPreview ? newReceiver : receiverName }} !
    </p>
    <p class="textJustify">{{ isPreview ? newGreeting : greeting }}</p>
    <img *ngIf="visibleFor('HNY')" style="width:80%;max-width: 500px;" src="assets/img/year.png" />
    <img *ngIf="visibleFor('CNG')" style="width:80%;max-width: 500px;" src="assets/img/cng.png" />
    <balloons *ngIf="visibleFor('HBD')"></balloons>

    <p style="font-size: 1.2em">
      From<br />
      {{ isPreview ? newSender : senderName }}
    </p>

    <button class="muteBtn" (click)="togglePlayer()">
      {{ isMute ? '🔇' : '🔊' }}
    </button>

    <audio id="songPlayer" (ended)="onSongEnded()" style="display: none">
      <source src="" type="audio/mpeg" />
    </audio>
  </div>
</div>

<!------------------- Only the create part ------------------->

<button *ngIf="allowCreateLinks" class="act-btn push-right" (click)="openCreateGreetingModal()">
  {{ isPreview ? 'This is a Preview, Continue editing' : 'Create' }}
</button>

<button *ngIf="allowTracking && !isPreview" class="act-btn push-left" (click)="openTrackingModal()">
  Track
</button>

<div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" *ngIf="allowCreateLinks" role="dialog"
  (onHidden)="createModalClosed()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" style="line-height: 1;">
          {{ linkGenerated ? 'Greeting Generated' : 'Compose Greeting' }}
        </h4>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="!linkGenerated">
          <div class="form-group">
            <div class="half pr5 inbl bb">
              <label class="form-label text-info mb0" for="name">
                Greeting Type
              </label>
              <select class="form-control mb10" (change)="loadDefaultWish()" [(ngModel)]="newGreetingType">
                <option value="HNY">Happy New Year</option>
                <option value="HBD">Happy Birthday</option>
                <option value="CNG">Congratulations</option>
              </select>
            </div>
            <div class="half pl5 inbl bb">
              <div class="pr5 inbl" [ngClass]="allowTracking ? 'half':'full'">
                <button class="btn deflt" (click)="loadDefaultWish()">
                  Reset
                </button>
              </div>
              <div *ngIf="allowTracking" class="half pl5 inbl">
                <button class="btn deflt" [ngClass]="untrackable ? '' :
                  'btn-danger'" (click)="toggleTrackable()">
                  {{ untrackable ? 'No Track' : 'Track' }}
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="half pr5 inbl bb">
              <label class="form-label text-info mb0" for="name">
                Receiver's Name
              </label>
              <input class="form-control mb10" type="text" maxlength="25" spellcheck="false"
                [(ngModel)]="newReceiver" />
            </div>
            <div class="half pl5 inbl bb">
              <label class="form-label text-info mb0" for="name">
                Sender's Name
              </label>
              <input class="form-control" type="text" spellcheck="false" maxlength="25" [(ngModel)]="newSender" />
            </div>
          </div>

          <div class="form-group mb0">
            <label class="form-label text-info mb0 wd100" for="name">
              Greeting Message
              <span class="float-right text-muted">
                {{ 300 - newGreeting.length }} char left
              </span>
            </label>
            <textarea class="form-control mb10" rows="7" style="resize: none" type="text" maxlength="300"
              [(ngModel)]="newGreeting">
            </textarea>
          </div>
        </ng-container>
        <ng-container *ngIf="linkGenerated">
          <ng-container *ngIf="!newLink">
            Generating sharable link...
          </ng-container>
          <ng-container *ngIf="newLink">
          <h5 class="text-info">Share this link with {{ newReceiver }}</h5>
          <br />
          <code>
            <a target="_blank" [href]="newLink">{{ newLink }}</a></code>
          <br /><br />
        </ng-container>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button *ngIf="!linkGenerated && newSender && newReceiver &&
          newGreeting" class="btn btn-xs btn-success mr-auto" (click)="showPreview()">
          Preview
        </button>

        <button [disabled]="!(newSender && newReceiver && newGreeting)" *ngIf="!linkGenerated"
          class="btn btn-xs btn-info" (click)="saveGreetings()">
          Create Link
        </button>

        <a [hidden]="!linkGenerated || !newLink" class="socialLink" style="margin-right:
          5px" [href]="sanitize(fbMsg)">
          <img style="width:40px;height: 39px; border-radius: .25rem; border:
            1px solid;" src="assets/img/fb.png" />
        </a>

        <a [hidden]="!linkGenerated || !newLink" class="socialLink" style="margin-right:
          5px" [href]="sanitize(whatsappMsg)">
          <img style="width:40px;height: 38px; border-radius: .25rem" src="assets/img/whatsapp.png" />
        </a>

        <button *ngIf="linkGenerated && newLink" class="btn btn-xs btn-info" (click)="copyLink()">
          Copy Link
        </button>
        <button class="btn btn-xs btn-secondary" (click)="createModal.hide()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<div bsModal #trackModal="bs-modal" class="modal fade" tabindex="-1" *ngIf="allowCreateLinks" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" style="line-height: 1;">
          {{showVisitDetails ? 'Visit' : 'Tracking'}} Details
        </h4>
        <span [hidden]="showVisitDetails" style="float: right;">
          <input type="checkbox" id="sorter" [ngModel]="false" (change)="sortByLastSeen($event)" />
          <span class="receiver"> by last seen</span>
        </span>
      </div>
      <div class="modal-body" style="max-height: 500px; overflow-y: auto; width: 100%;">
        <div *ngIf="showVisitDetails">
          <div *ngIf="!visitingDetails">
            Loading visiting details...
          </div>
          <div *ngIf="visitingDetails">
            <p>{{visitingDetails.receiver}} opened greeting {{visitingDetails.count}} times, Last opened on {{visitingDetails.last | date: 'medium'}}</p>
            <p>Greeting: {{visitingDetails.greeting}}</p>
            <p>Type: {{visitingDetails.type}}</p>
            <p>Sender: {{visitingDetails.sender}}</p>
            <p><a class="link-box link" style="margin-left: 0;"
                [href]="sanitize('https://makemygreeting.000webhostapp.com/?id=' + visitingDetails.id)"
                target="_blank">Open Greeting</a></p>
          </div>

        </div>
        <div *ngIf="!trackingDetails.length && !showVisitDetails">
          Loading tracking details...
        </div>
        <div [hidden]="!trackingDetails.length || showVisitDetails">
          <span class="link-box" *ngFor="let track of trackingDetails; trackBy: trackByFn">
            <input type="checkbox" (change)="selectForDelete($event,track.id)" />
            <a class="link" (click)="selectForDetails(track.id)">
              <span class="receiver">{{track.receiver}}</span>
              <span class="count" [ngClass]="track.count=='0'?'bg-r':'bg-g'">{{track.count}}</span>
            </a>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="this.deleteIds.size && !showVisitDetails" style="position: absolute;
        left: 16px;" class="btn btn-xs btn-danger" (click)="deleteSelectedIds()">
          Delete {{this.deleteIds.size}}
        </button>
        <button class="btn btn-xs btn-secondary" (click)="closeTrackModal()">
          {{showVisitDetails ? 'Back' : 'Close'}}
        </button>
      </div>
    </div>
  </div>
</div>