.center{
    width: 90vw;
    height:90vh;
    font-size:1.6em;
    margin: auto;
    padding:20px 15px;
    font-weight: 300;
    position: relative;
    color:white;
    text-align: left;
    font-family: 'Dancing Script', cursive;
}

.muteBtn{
    position: absolute;
    top: 5%;
    right: 10px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    outline: none;
}

.loader {
    position:absolute;
    top:40%;
    width: 90%;
    margin:auto;
    text-align: center;
}

.mb0{
    margin-bottom: 0;
}

.pr5{
    padding-right: 5px;
}

.pl5{
    padding-left: 5px;
}

.wd100{
    width: 100%;
}

/* ------------------- Only the create part ------------------- */
@media only screen and (min-width: 575px){
    .socialLink{
        display: none;
    }
}

#create{
    font-size:1.2em;
    position: fixed;
    bottom: 6%;
    right: 6vw;
    color: #a3a1a1;
    background-color: #424242;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.inbl{
    display: inline-block;
}
.textJustify{
    text-align: justify;
}

.bb{
    box-sizing: border-box;
}

.half{
    width:50%;
}

.deflt{
    border: 1px solid grey;
    vertical-align: inherit;
    width: 100%;
}

