<div class="center">
  <div *ngIf="!showMessage" class="loader">Loading your Greeting ...</div>
  <div [hidden]="!showMessage">
    <p style="font-size: 1.2em; padding-top:0.4em;">Hey {{isPreview ? newReceiver :receiverName}} !</p>
    <p style="text-align: justify">{{isPreview ? newGreeting : greeting}}</p>
    <img style="width:80%;max-width: 500px;" src="assets/year.png"/>
    <p style="font-size: 1.2em">From<br/>
    {{isPreview ? newSender : senderName}}
    </p>
  
    <!-- <button id="create" (click)="createModal.show(); isPreview = false;">{{isPreview ? 'This is a Preview, Continue editing' : 'Create'}}</button> -->
 
    <iframe *ngIf="isChrome" src="assets/songs/blank.mp3" allow="autoplay" id="audio" style="display: none"></iframe>
    <audio id="player" autoplay style="display: none">
      <source [src]="sanitize(songSrc)" type="audio/mp3">
    </audio>
  </div>
</div>


<!-- <div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1" (onHidden)="createModalClosed()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{linkGenerated ? 'Link Generated Successfully' :'Create your Greeting'}}</h4>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="!linkGenerated">
          <div class="form-group">
          <label class="form-label text-info mb0" for="name">Enter Receiver's Name</label>
        <input class="form-control mb10" 
        type="text" 
        maxlength="25"
        [(ngModel)]="newReceiver"/>
        </div>

          <div class="form-group">
            <label class="form-label text-info mb0 wd100" for="name">Enter Greeting Message <span class="float-right text-muted">{{300 -newGreeting.length}}</span></label>
        <textarea class="form-control mb10"
         rows="6"
         style="resize: none"
         type="text" 
         maxlength="300"
         [(ngModel)]="newGreeting"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label text-info mb0" for="name">Enter Sender's Name</label>
          <input class="form-control " 
          type="text" 
          maxlength="25"
          [(ngModel)]="newSender"/>
          </div>
        </ng-container>
        <ng-container *ngIf="linkGenerated">
          <h5 class="text-info">You can now share this link with {{newReceiver}}</h5><br/>
          <code><a target="_blank" [href]="newLink">{{newLink}}</a></code><br/><br/>
        </ng-container>
        
      </div>
      <div class="modal-footer">
        <button *ngIf="!linkGenerated && newSender && newReceiver && newGreeting"
        class="btn btn-xs btn-success mr-auto" 
        (click)="showPreview();createModal.hide()">Preview</button>

        <button [disabled]="!(newSender && newReceiver && newGreeting)" 
        *ngIf="!linkGenerated"
        [ngClass]="(newSender && newReceiver && newGreeting)?'btn-info':'btn-secondary'"
        class="btn btn-xs" 
        (click)="saveGreetings()">Create Link</button>

        <a [hidden]="!linkGenerated" class="socialLink"
            style="margin-right: 5px"
            [href]="sanitize(fbMsg)">
            <img style="width:40px;height: 39px; border-radius: .25rem; border: 1px solid;" src="assets/fb.png">
        </a>

        <a [hidden]="!linkGenerated" class="socialLink"
            style="margin-right: 5px"
            [href]="sanitize(whatsappMsg)">
            <img style="width:40px;height: 38px; border-radius: .25rem" src="assets/whatsapp.png">
        </a>

        <button *ngIf="linkGenerated"
        class="btn btn-xs btn-info" 
        (click)="copyLink()">Copy Link</button>
        <button class="btn btn-xs btn-danger" (click)="createModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div> -->